<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <swiper-container>
    <swiper-wrapper>
      <swiper-slide>
        <img src="https://via.placeholder.com/300" alt="slide 1">
      </swiper-slide>
      <swiper-slide>
        <img src="https://via.placeholder.com/300" alt="slide 2">
      </swiper-slide>
      <swiper-slide>
        <img src="https://via.placeholder.com/300" alt="slide 3">
      </swiper-slide>
    </swiper-wrapper>
    <div class="swiper-pagination"></div>
  </swiper-container>
</ion-content>
